<%- include('partials/header') -%>

<h1>Track Data</h1>


<div class="row justify-content-center mt-5">
    <a class="btn btn-primary">Support</a>
</div> 

<script src="client.js"></script>

<%- include('partials/footer') -%>